.app-city {
    background: #fff;
    @include flex();
    width:100%;
    overflow: auto;
    height: 100%;
    div {
        width: 100%;
        padding: 0.1rem;
        padding-right: 0;
        > div {
            @include flexbox();
            @include align-items(center);
            height: 0.3rem;
            color: #F03468;
            background: #F8F8F8;
            span {
                display: inline-block;
                width: 4px;
                height: 4px;
                background: #F03468;
                border-radius: 50%;
                margin: 0 10px;
            }
            h2 {
                display: inline-block;
            }
        }
        ul {
            width: 100%;
            @include flexbox();
            @include flex-wrap(wrap);
            padding: 0.1rem 0 0.1rem 0.1rem;
            li {
                height: 0.4rem;
                width: 33%;
                line-height: 0.4rem;
                padding-right: 0.2rem;
                @include ellipsis();
                color:#7B7B7B;
            }
        }
    }
    
}