<<<<<<< HEAD
// @font-face {
//     font-family: 'yofont';
//     src: 
//     url('')
// }

html,body {
    height: 100%;
=======
@font-face {
  font-family: 'yofont';
  src:
  url('/static/iconfont.woff') format('woff'),
  url('/static/iconfont.ttf') format('truetype'),
  url('/static/iconfont(2).woff') format('woff'),
  url('/static/iconfont(2).ttf') format('truetype')
>>>>>>> fj
}